__pycache__/calculator.cpython-310.pyc
__pycache__/join_division.cpython-310.pyc
__pycache__/math_progr.cpython-310.pyc
__pycache__/prime_number.cpython-310.pyc
__pycache__/even_integer.cpython-310.pyc
